@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* all selector styling */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}


/* App styling */

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* sideBar stylings */
.SideBar {
  width: 300px;
  min-width: 210px;
  height: 100%;
  background-color: aqua;
 /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.1); */
}

/* mainContent stylings */
.Main {
  width: 100%;
  background-image: url('./images/pexels-pixabay-459335.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* user styling*/
.User {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border: 1px solid #ebebeb;
}

.User .logo img{
  width: 50px;
  margin-right: 20px;
  border-radius: 50px;
  border: 1px solid #000;
  padding: 05px;
}

.User .info p{
  font-size: 1.1rem;
  font-weight: bold;
}

.User .info .other{
  font-size: 1rem;
  font-weight: bold;
  color: blue;
  display: flex;
  justify-content: flex-end;
}


.User .info a{
  text-decoration: none;
  color: #000;
  font-size: 0.9rem;
  font-weight: 300;
  display:  flex;
  justify-content: flex-end;
}